@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
  --fon--color: #fff;
  --bg-color: #646464;
  --bgb-color: rgb(235, 236, 237);
  --text-color: #111;
}
html {
  font-size: 16px;
}
body {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--fon--color);
  min-width: 312px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
/* header, section, footer {
  padding: 100px 0;
}
header {
  padding: 200px 0;
} */
img {
  max-width: 100%;
  height: auto;
}
    /* header */
nav {
  padding: 0;
}
.navbar {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  /*text-transform: uppercase;*/
}
.top-menu li a::after {
  content: '';
  background-color: var(--text-color);
  display: block;
  width: 100%;
  height: 1px;
  transition: all 0.3s;
  transform: scale(0);
}
.top-menu li a:hover::after {
transform: scale(1);
}
.top-menu {
  font-size: 0.9rem;
}
.address {
  margin-left: 5rem;
}
.address h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0;
}
.img__logo {
  margin-left: 25px;
}
.img_l {
  width: 4rem;
  margin-right: 20px;
}
/* header */
/* main */
.carousel-item h1 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.carousel-item {
  height: 100vh;
}
.carousel-item img {
  height: 100%;
}
.carousel-caption p {
  color: var(--text-color);
}
.my-carousel .carousel-inner img {
  object-fit: cover;
}
.carousel-caption {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: .1rem;
}
.list_carousel {
  list-style: none;
  text-align: start;
  color: var(--fon--color);
}
.card_style {
  color: rgba(223, 219, 219, 0.79) !important;
  text-shadow: 1px 1px 1px #000;

  /*color: #848181;*/
  /*font-weight: 500;*/

  /*font-weight: 800;*/
}
section {
  padding: 50px 0;
  height: 100%;
}
.title-h1 {
  margin-left: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.title-h2 {
  margin-left: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.title__child-h2 {
  margin-left: 9rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.content {
  margin-bottom: 50px;
}

.card-text {
  display: flex;
  align-items: center;
  padding: 0 40px;
  width: 100%;
  height: 500px;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: .1rem;
  border-radius: 10px;
  background-color: var(--bgb-color);
  box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
  transition: all .3s;
}
.card-text:hover {
  box-shadow: 0 0 20px -11px  rgba(0, 0, 0, 0.8 );
}
.card-title h3{
font-weight: 400;
}
.card_list {
  display: flex;
  justify-content: space-around;
}
.list {
  list-style: none;
}
/* card */
.card-about {
  /* width: 80%; */
  height: 700px;
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 20rem;
  border-radius: 10px;
  background-color: var(--bgb-color);
  box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
  transition: all .3s;
}

.picture {
  width: 100%;
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.picture_img1 {
  background-image: url(../image/img_direct/ghoreogravia_p.jpg);
}
.picture_img2 {
  background-image: url(../image/img_direct/smail_p.jpg);
}
.picture_img3 {
  background-image: url(../image/img_direct/chudGimnastica_p.jpg);
}
.picture_img4 {
  background-image: url(../image/img_direct/ovp_p.jpg);
}
.picture_img5 {
  background-image: url(../image/img_directions/5ch.jpg);
}
.picture_img6 {
  background-image: url(../image/img/c_3.jpg);
}
.picture_img7 {
  background-image: url(../image/img_direct/Fitball_p2.jpg);
}
.picture_img8 {
  background-image: url(../image/img_direct/total_body_p.jpg);
}
.picture_img9 {
  background-image: url(../image/img_direct/pilatas.jpg);
}
.picture_img10 {
  background-image: url(../image/img_direct/streich_p.jpg);
}
.picture_img11 {
  background-image: url(../image/img_directions/GSH1.jpg);
}
.picture_img12 {
  background-image: url(../image/img_direct/zdorov_12.jpg);
}
.picture_img13 {
  background-image: url(../image/img_direct/balet_ocanka_p_13.jpg);
}
.picture_img14 {
  background-image: url(../image/img_direct/body-balet_p_14.jpg);
}
.picture_img15 {
  background-image: url(../image/img_directions/IMG_1.jpg);
}
.picture_img16 {
  background-image: url(../image/img_directions/img9.jpg);
}

.card-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: start;
  /* padding: 0 3.5rem; */
  /* height: 150px; */
}
.card-body a {
  margin-bottom: 1rem;
}
.card-title h5 {
  margin-bottom: 1rem;
  text-align: center;
}
.text_card {
  height: 25rem;
  margin: 20px 10px;
  padding: 10px 10px;
  line-height: 2rem;

}
/* card */
/* btn */
.btn-record .btn a {
  margin-top: 2rem;
  cursor: pointer;
}
.btn-record:hover {
  background-color: var(--text-color);
  box-shadow: 0 0 20px -11px  rgba(0, 0, 0, 0.8 );
}
.bx {
  padding-right: 10px;
}
      /* main */
      /* footer */
.footer {
  /* margin-top: 100px;  */
  height: 150px;
  background-color: #646464;
  color: #fff;
}
.footer-text,
.footer-iconTop {
  position: relative;
}
.footer-text p {
  font-size: 1rem;
  color: var(--fon--color);
  text-align: center;
  margin-top: 20px;
}
.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--fon--color);
  border: .2rem solid var(--fon--color);
  border-radius: .6rem;
  z-index: 1;
  overflow: hidden;
}
.footer-iconTop a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bgb-color);
  z-index: -1;
  transition: .5s;
}
.footer-iconTop a:hover::before {
  width: 100%;
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color);
  transition: .5s;
}
.footer-iconTop a:hover i {
  color: var(--bgb-color);
}
/* соц сети иконки */
.footer-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .1rem solid var(--fon--color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--bgb-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  margin-left: 5rem;
  padding-left: 9px;
}
.footer-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bgb-color );
  z-index: -1;
  transition: .5s;
}
.footer-sci a:hover {
  color: var(--bg-color);
}
.footer-sci a:hover::before {
  width: 100%;
}
/* соц сети иконки */
.bxs-heart   {
  padding: 0;
  color: red;
}
/*адаптация*/
@media (max-width:1150px)  {
  .address h6 {
    font-size: 0.8rem;
  }
    .nav-item  a li  {
      font-size: 0.8rem;
    }
}
@media (max-width: 768px) {
  .card-text {
    font-size: 1rem;
  }
    .footer-sci a {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}
@media (max-width: 576px) {
  .card-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  .navbar-brand {
    font-size: 0.8rem;
  }
  .img_l {
    width: 3rem;
  }
  .btn-record {
  margin-top: 2rem;
  cursor: pointer;
  font-size: 3rem;
  /* background-color: var(--bgb-color); */
  /* box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
  transition: all .3s; */
}
}
@media (max-width: 420px) {
  .card-text {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .footer-sci a {
    margin-top: 2rem;
    margin-left: 3rem;
  }
}
